.team-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
}

.team-container h3{
  text-align: center
}

.Teamhero {
  background: url('../img/sfr.jpg');
  background-size: cover;
  background-position: center;
  padding: 4rem 2rem;
  display: grid;
  height: 30vh;
  width: 100vw;
}

.red {
  color: rgb(13, 22, 43);
  font-weight: 900;
  font-size: 28px;
}

.Teamhero > * {
  color: white;
}


.verdi, .peter, .elan, .david, .kp {
  max-width: 650px;
  margin: 1rem;
  padding: 2rem;
  border: 1px solid #E2E2E2;
  border-radius: .5rem;
  max-height: 550px;
}

.picSwap .goat{
  display: none; 
}

.picSwap:hover .goat{
  display: inline;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  max-width: 850px;
}

.verdi > figure, .peter > figure, .elan > figure, .kp > figure, .david > figure{
  margin: auto;
  max-height: 400px;
  max-width: 400px;
  overflow: hidden;
  position: relative;
}

.peter > figure > img, .verdi > figure > img, .elan > figure > img, .kp > figure > img, .david >figure > img {
  max-width: 100%;
  max-height: 100%;
}


@media screen and (max-width: 420px) {

.verdi, .peter, .elan, .david, .kp{
  width: 250px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-left: 20%;
  margin-right: auto;
  padding-bottom: 5px;
  padding-top: 5px;
  padding: auto;
}

.peter > figure > img, .verdi > figure > img, .elan > figure > img, .kp > figure > img, .david >figure > img {
  max-width: 250px;
  max-height: 250px;
}

}