.my-videos-container {
  margin: auto; 
  margin-top:0px;
  max-width: 750px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

}

.videos-page > .btn-container {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.previous, .next {
  width: 85px;
}

button.fab {
  position:fixed;
	width:80px;
	height:80px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  box-shadow: 2px 2px 3px #999;
  outline: 0;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  overflow: hidden;
  z-index: 9;
}

button.fab:after {
  content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

button.fab:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}


