.my-videos-container {
  margin: auto; 
  max-width: 750px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
margin: auto;
  margin-top: 1rem;
  padding-left: 70px;
}

.videos-page > .btn-container {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
