.flex-form{
  
 display: flex;
  
}

.add-video-form{
  max-width: 300px;
  /* border: 1px solid grey; */
  border-radius: 5px;
  margin: auto;
}

.add-video-form > button{
  display: block;
  margin: auto;
  margin-top: 20px;
}

.inputs{
  width: 50%;
  border-right: 1px solid rgb(214, 201, 201);
  padding-right: 15px;
}
.inputs > label{
  display: block;
  margin-bottom: 2.5px;
}

.inputs > input{
  display: block;
  margin-bottom: 10px;
}

.directions{
  padding-left: 10px;
  width: 50%;
  margin: 0px;
  margin:0px;
  margin-left: auto;
  margin-right: auto;
}

.directions > h4{
  padding: 0;
  margin-top: 3px;

}

.instructions-text{
  font-size: 14px;
  text-align: left;
  transition: .4s;
}

.add-video-input {
  border: 1px solid black;
  padding: 6px 8px;
  width: 90%;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.add-video-input:focus {
  background-color:#e8e8e8;
  outline: solid #C4302B;
}

/* Adding css classes to parent that will be passed to child on render */

.add-video-form-route{
  max-width: 800px;
  min-width: 300px;
  border: 1px solid black;
  padding: 15px;
  margin: 0 auto;
  width: 60vw;
  height: 35vh;
  padding: 2em;
  position: relative;
  background:rgba(0, 0, 0, .15)
}

.add-video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0;
  text-align: center;
  background: linear-gradient(
    135deg,
    rgba(36, 46, 77, .9),
    rgba(137, 126, 121, .9)
  );
  color: white;
}

.provide-info-text{
  justify-self: normal;
  margin-top: -100px;
  margin-bottom: 100px;
}

.add-video-form-instructions{
  font-size: 1.1em;
}

@media screen and (max-width: 500px){
  
  .provide-info-text{
    display: none;
  }

  .flex-form-route{
    flex-direction: column;
  }

  .directions-route{
    order: -1;
    height: 180px;
  }

  .add-video-form-route{
    border: none;
    padding: 0px;
    margin: 0 auto;
    width: 320px;
    height: 85vh;
    justify-self: unset;
    background: none;
    
  }

  .inputs-route{
    margin-right: none;
    border: none;
    width: 100%;
    padding-right: 0px;
  }

  .add-video-form-instructions{
    font-size: .8em;
  }

  .inputs-route > input{
    padding-right: 0px;
    display: inline-block;
    width: 70%;
  }
}