.flex-form{
 display: flex;
 width: 100%;
  
}

.add-video-form > button{
  display: block;
  margin: auto;
  margin-top: 20px;
}

.inputs{
  width: 200px;
  border-right: 1px solid rgb(214, 201, 201);

  margin-left: 0px;
}
.inputs > label{
  display: block;
  margin-bottom: 2.5px;
}

.inputs > input{
  
  display: block;
  
  margin-bottom: 10px;
  width: 130px;

}

.directions{
  padding-left: 10px;
  width: 50%;
  margin: 0px;
  margin:0px;
  margin-left: auto;
  margin-right: auto;
}

.directions > h4{
  padding: 0;
  margin-top: 3px;

}

.instructions-text{
  font-size: 14px;
  text-align: left;
  transition: .4s;
}

.add-video-input {
  border: 1px solid black;
  padding: 6px 8px;
  width: 90%;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.add-video-form label{
 text-align: left;
}

.add-video-input:focus {
  background-color:#e8e8e8;
  outline: solid #C4302B;
}

/* Adding css classes to parent that will be passed to child on render */

.add-video-form{
  max-width: 600px;
  min-width: 300px;
  border: 1px solid black;
  padding: 10px;
  margin: 0 auto;
  height: 37vh;
  padding: 2em;
  position: relative;
  background:rgba(0, 0, 0, .15);
  border-radius: 5px;
}

.add-video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0;
  text-align: center;
  background: linear-gradient(
    135deg,
    rgba(36, 46, 77, .9),
    rgba(137, 126, 121, .9)
  );
  color: white;
}

.provide-info-text{
  justify-self: normal;
  margin-top: -100px;
  margin-bottom: 100px;
}

.instructions-text{
  font-size: 1em;
}

@media screen and (max-width: 500px){
  
  .provide-info-text{
    display: none;
  }

  /* .directions{
    display: none;
  } */

  .flex-form{
    flex-direction: column;
  }

  .directions{
    order: -1;
    height: 140px;
  }

  .directions > h4 {
    display: none;
  }

  .leggo-text{
    text-align: center;
  }

  .add-video-form{
    border: none;
    padding: 0px;
    margin: 0 auto;
    width: 300px;
    height: 85vh;
    justify-self: unset;
    background: none;
  }

  .inputs{

    margin: auto;
    margin-top: 50px;
    border: none;
    width: 100%;
    margin-left: 0px;
    padding-right: 0px;
  }

  .instructions-text{
    font-size: .8em;
  }

  .inputs > input{
    padding-left: 20px;
    display: inline-block;
    width: 80%;
    /* margin: auto; */
    margin-left: 20px;
  }

  .inputs > label{
    text-align: left;
    /* margin-left: 0px; */
    padding-left: 20px;
  }

  .add-video-header{
    margin-bottom: 0px;
    font-size: 1.3em;
  }
}