button.fab {
  background: #e53030;
  border: 3px solid #fff;
  border-radius: 100%;
  box-shadow: 0 -2px 0 3px #c91919 inset, 0 5px 5px rgba(65, 8, 8, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
  cursor: pointer;
  display: inline-block;
  position:fixed;
	width:70px;
	height:70px;
	bottom:40px;
	right:40px;
	/* background-color:#c4302b; */
	color:#FFF;
	border-radius:50px;
	text-align:center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  overflow: hidden;
  z-index: 1;
  outline: none;
}

button.fab:hover {
  background: #333;
  box-shadow: 0 -2px 0 3px #1a1a1a inset, 0 5px 5px rgba(0, 0, 0, 0.17), 0 15px rgba(255, 255, 255, 0.32) inset;
}

button.fab:after {
  content: "";
  background: rgb(208, 81, 81);
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

button.fab:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.videos-page > .fab {
  bottom: 80px;
}