
.creator-page{
 display: flex;
 flex-wrap: nowrap;
}  

.aside-controls{
  width: 25%;
  border-right: 1px solid grey;
  margin-left: -25%;
  transition: .6s;
  /* height: 100vh */
}

.controls-header{
  margin-top: 0px;
  padding-top: 40px;
  border-bottom: 1px solid grey;
  padding-bottom: 20px;
  text-align: center;
}

.controls-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.control-label{
  display: block;
  margin-bottom: 10px;
}

.creator-input{
  margin-bottom: 20px;
}

.creator-upload{
  margin-bottom: 20px;
}

/* Taken from https://dev.to/greduan/the-anatomy-of-a-custom-inputtypefile-component */
input[type="file"] {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  /* // alternative to pointer-events, compatible with all browsers, just make it impossible to find */
  width: 1px;
  height: 1px;
}

#creator-title{
  max-width: 75%;
  padding: 8px 10px;
}


input[type="file"] + label {
  margin-top: 20px;
  display: inline-block;
  border: 1px solid grey;
  padding: 5px 10px;
  border-radius: 4px;
  margin-bottom: 30px;
  max-width: 75%;
}

input[type="file"] + label:hover{
  border: 1px solid rgb(196, 48, 43);
  cursor: pointer;
  color: rgb(196, 48, 43);
}

input[type="file"] + label:active{
  border: 1px solid rgb(196, 48, 43)
}

#creator-description{
  max-width: 85%;
  height: 150px;
  resize: none;
}

.save-preview-btn{
  display: block;
  box-shadow: 1px 1px grey;
}

.save-preview-btn:hover{
  box-shadow: none;
}

@media screen and (min-width: 930px) {
  #edit-form {
    margin-left: 0;
  }
  #edit-btn {
    visibility: hidden;
  }
}
