.copy-video-modal .field-group {
  margin-bottom: 15px;
  color: black
}

.copy-video-modal .copy-wrapper {
  background: lightgray;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copy-video-modal h3 {
  margin: 0;
  padding-bottom:5px;
}

.copy-video-modal .f-icon {
  cursor: pointer;
}

@media screen and (max-width:500px){
  .copy-video-modal{
    margin-top: 20px;
  }
}