
figure {
    box-sizing: border-box;
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

section{
  display: flex;
  flex-direction: row;

}

.CTRtext, .AboutText{
    min-width: 680px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* max-width: 680px; */
    max-height: 720px;
    padding: 0 20px;
    margin: 0;
    outline: 0;
    vertical-align: baseline;
    border: black solid .02px;
} 
.CTRtext{
  max-height: 430px;
}

.CTRimage, .AboutImage{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    max-width: 680px;
    max-height: 720px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    box-sizing: border-box;
    position: relative;
    display: block;
    background: transparent;
}

.ABimage{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    flex-basis: 50%;
    max-width: 999px;
    max-height: 750px;
    align-self: stretch;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    box-sizing: border-box;
    position: relative;
    display: block;
}

.ABtext{
    min-width: 680px;
    /* max-width: 999px; */
    max-height: 352px;
    margin: auto;
    padding: 0 20px;
    margin: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
    position: relative;
    border: black solid .02px;
}



p{
  font-size: 20px;
  display: block;
}

h3{
  font-size: 36px;
}





.hero {
  background: url('../../img/hero.jpg');
  background-size: cover;
  background-position: top;
  padding: 4rem 2rem;
  display: grid;
  height: 30vh;
  width: 100%
}

.red {
  color: rgb(13, 22, 43);
  font-weight: 900;
  font-size: 28px;
}

.hero > * {
  color: white;
}

@media screen and (max-width: 900px) {
.landing-container, section {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  /* justify-content: space-evenly; */
 
}
}