.images {
  margin: 0;
  padding: 0;
}

.landing-page-container {
  width: 100%;
  background: linear-gradient( 135deg, rgba(36, 46, 77, .9), rgba(137, 126, 121, .9) );
  color: white;
}

.landing-page-container > section {
  line-height: 1.25;
}

.about {
  height: 100vh;
  display: flex;
}

.about .left, .about .right {
  width: 50%;
  padding: 90px 50px
}

.about .right img {
  width: 100%;
  height: auto;
}

.about .AboutText h3 {
  font-size: 35px;
  margin: 0;
}

@media (max-width: 700px) {
  .about {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
  }
  .about .left {
    padding: 30px;
    padding-bottom: 0;
    width: 68%;
    margin-left: 20px;
  }
  .about .right{
    width: 80%;
    padding: 0;
  }
}

@media (max-width: 400px) {
  .about {
    padding-bottom: 100px;
  }
}

aside {
  height: 60vh;
  background: url('./aside-bg.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

aside .quote  {
  font-size: 1.7em;
  margin: 0 45px;
  font-weight: bold;
  font-style: italic;
}

aside .quote::before {
  content: '\201C';
}

aside .quote::after {
  content: '\201D';
}

.hero {
  background: url('./laconic-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 80% 25%; 
  height: 100vh;
  overflow: hidden;
}

@media (max-width: 1000px) {
  .hero {
    background: url('./dark-hero-bg.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero-content{
    width: 100% !important;
  }

  .hero-content * {
    color: white !important;
  }

  .hero-content h2 {
    font-size: 60px !important;
  }

  .hero-content h3 {
    font-size: 30px !important;
  }

  .hero-content p {
    font-size: 20px !important;
  }
}

.hero-content {
  margin: 50px;
  width: 50%;
}

.hero h2 {
  color: black;
  font-family: 'Oswald', sans-serif;
  margin: 0;
  font-size: 75px;
}

.hero h3 {
  font-size:35px;
  color: black;
  text-decoration: none;
  margin: 0;
}

.hero p {
  font-size: 25px;
  color: black;
  /* width: 50%; */
  margin: 0;
  margin-top: 50px;
}

.red {
  color: #C4302B;
  font-weight: 900;
  font-size: 28px;
}

.create-laconic {
  margin: 2em 0;
  font-size: 20px;
  padding: 18px 20px;
}

@media screen and (max-width: 730px) {
  .images, .images > img {
    width: 100%;
  }

  .create-laconic {
    padding: 8px 10px;
    font-size: 20px;
  }
}