.desktop-view-page {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12),
  0 3px 1px -2px rgba(0, 0, 0, 0.2);
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 3px;
}

.desktop-view-page .mobile-clear {
  margin-top: .3em;
}