.flex-form{
  
 display: flex;
  
}

.add-video-form{
  max-width: 450px;
  /* border: 1px solid grey; */
  border-radius: 5px;
  margin: auto;
}

.add-video-form > button{
  display: block;
  margin: auto;
  margin-top: 20px;
}



.inputs{
  width: 50%;
  border-right: 1px solid rgb(214, 201, 201);
  padding-right: 15px;
}
.inputs > label{
  display: block;
  margin-bottom: 2.5px;
}

.inputs > input{
  display: block;
  margin-bottom: 10px;
}

.directions{
  padding-left: 10px;
  width: 50%;
  margin: 0px;
  margin:0px;
  margin-left: auto;
  margin-right: auto;
}

.directions > h4{
  padding: 0;
  margin-top: 3px;

}

.instructions-text{
  font-size: 14px;
  text-align: left;
  transition: .4s;
}

.add-video-input {
  border: 1px solid black;
  padding: 6px 8px;
  width: 90%;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.add-video-input:focus {
  background-color:#e8e8e8;
  outline: solid #C4302B;
}