.preview-controls-container {
  width: 20vw;
  height:91vh;
  padding:10px;
  min-width:190px;
  /* height: 100vh; */
  border-right: 1px solid grey;
  margin: 0;
  overflow:scroll;
}

.preview-tiles {
  list-style-type: none;
  padding: 0;
  overflow-x: scroll;
}

.preview-title {
  text-align: center;
  margin: 0;
  padding: 1em;
  border-bottom: 1px solid grey;
  font-size: 1.3rem;
  margin-bottom:10px;
}

::-webkit-scrollbar { 
  /* display: none;  */
}

@media screen and (max-width: 630px) {
  .preview-controls-container {
    width: 100%;
    height:auto;
    border-right: none;
    border-bottom: 1px solid grey;
  }

  .preview-title {
    padding-bottom: 0;
    border: none;
    margin-bottom: 3px;
    z-index: 19;
  }
  
  
  .preview-tiles {
    margin-bottom: 0;
    /* display: inline-block; */
    overflow-x: scroll;
    white-space:nowrap;
  }

  /* .preview-tile {
    display:inline-block;

  } */

  .preview-control-icons {
    width: 40%;
  }
}

@media screen and (min-width: 1000px) {

  .preview-controls-container {
    margin-right: -400px;
  }

  .preview-svg{
    margin-right: 5px;
  }

}

.preview-controls > .randomize.button {
  margin-right: 0;
  width: 120px;
}