.preview-controls-container {
  width: 20%;
  height: 100vh;
  border-right: 1px solid grey;
  margin: 0;
}

.preview-tiles {
  list-style-type: none;
  padding: 0;
}

.preview-title {
  text-align: center;
  margin: 0;
  padding: 1em;
  border-bottom: 1px solid grey;
  font-size: 1.3rem;
}

.add-new {
  display: flex;
  justify-content: center;
}

.add-new > button {
  position: absolute;
  bottom: 25px;
}