.previews-page {
  display: flex;
}

.previews-display-section {
  padding: 2em;
  padding-top:0;
  padding-bottom:0;
  margin: auto;
}

@media screen and (max-width: 630px) {
  .previews-page {
    flex-flow: row wrap;
    justify-content: center;
  }
}