

.onEntry{
  height:180px;
  width:240px;
  transition: 0.25s;
  transition-timing-function: ease-in;
}

/* .inputs-edit{
  
  padding-right: 15px;
}*/
.inputs-edit > label{
  font-size: 15px;
  display: block;
}

.inputs-edit > input{
  display: block;
  margin-bottom: 10px;
} 

.inputs-edit{
  width: 180px;
  margin-right: 28px;
  color: white;
  padding-top: 5px;
  padding-left: 10px;
}

.edit-videos-container{
  width: 300px;
  height: 200px;
  display: inline-flex;
  flex-wrap: nowrap;
  background-color: rgba(0,0,0,.7)
}

.edit-btn-container{
  width: 80px;
  padding-top: 160px; 

}

.edit-video-form{
  overflow: hidden;
  position: absolute;
  overflow: hidden;
  top: 37px;

  width: 300px;
} 
.image-section{
  position:relative;
}