.video-item > input {
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.video-item > h2{
  margin: 0px;
  font-size: 20px;
}


.video-item > p{
  margin: 0px;
  font-size: 17px;
}

.video-item{
  margin-top: 0px;
  margin-bottom: 20px;
}