.video-item > div > input {
  width: 300px;
  max-height: 200px;
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.image-section{
  max-width: 300px;
  position: relative;
}

.video-item > h2{
  margin: 0px;
  font-size: 20px;
}

.video-image-link:active {
  outline: none;
  border: none;
}

.video-item > p{
  margin: 0px;
  font-size: 17px;
}

.video-item{
  margin:auto;
  margin-top: 0px;
  margin-bottom: 20px;

}

.black-btn{
  color: black;
}
.white-btn{
  color: black;
}

.video-item .video-controls {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 5px;
  justify-content: space-around;
  align-items: center;
  min-height: 80px;
  border-radius: 0 0 0 5px;
}

.video-item .video-controls .f-icon {
  color: white;
  cursor: pointer;
}
