header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 3px 2px -2px rgb(60, 56, 56);
    background: rgba(36, 46, 77, 0.76);
    width: 100%;
    height: 75px;
    top: 0;
    z-index: 10;
    position: relative;
}
.app-title{
  margin: auto 0;
}

.root-link {
  display: flex;
}

.root-link:hover > .logo {
  animation-play-state: running;
  transition: 1s ease-in-out;
  fill: rgb(255, 77, 71);
  transition-delay: .25s;
}

.root-link > .app-title {
  color: white;
}

nav {
    /* position: fixed; */
    right: 0;
    font-size: 22px;
    top: 18px;
}

nav div a,
nav div a:after,
nav div a:before,
nav a,
nav a:after,
nav a:before,
.footer a,
.footer a:after,
.footer a:before {
  transition: all .5s;
}

nav div a:hover,
nav a:hover,
.footer a:hover {
  color: rgb(255, 255, 255);
  font-size: 18px;
}

nav a {
    margin-right: 25px;
    text-decoration: none;
    color: rgb(203, 201, 201);
    font-weight: 800;
}

.logo {
  width: 40px;
  height: 40px;
  padding-top: 7px;
  margin: auto 5px;
  font-weight: bolder;
  fill: white;
  transition: .5s;
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 50% 50%;
  animation-play-state: paused;
}

@keyframes spin {
  from {
    transform: rotate(0);
    transform-origin: center center;
  }
  to {
    transform: rotate(360deg);
    transform-origin: center center;
  }
}

nav.stroke div a,
nav.stroke a,
.footer a,
.footer a {
  position: relative;
}

nav.stroke div a:after,
nav.stroke a:after,
.footer a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: white;
  height: 2px;
  margin-top: .5em;
}

nav.stroke div a:hover:after,
nav.stroke a:hover:after,
.footer a:hover:after {
  width: 100%;
}

.navLinks{
  font-size: 20px;
}

.navControls{
  text-align: right;
}

.navControls > span {
  color: white;
}

.login.link, .logout.link, .videosLink {
  font-size: .85em;
}

.navControls > .user-welcome {
  margin-right: 1em;
}

@media screen and (max-width: 420px) {
  .user-welcome {
    font-size: .78em;
  }

  .videosLink, .logout.link {
    font-size: 15px;
  }

  .videosLink:hover {
    font-size: 17px;
  }
}