header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 2px -2px rgba(210, 210, 210, .6);
    background: white;
    width: 100%;
    height: 60px;
    top: 0;
    z-index: 10;
    position: relative;
}
.app-title{
  margin: auto 0;
}

.root-link {
  display: flex;
}

.app-title a{
  text-decoration: none;
  color: var(--primary);
}
.app-title a:hover{
  color: var(--Green);
  text-decoration: underline;
}
nav {
    /* position: fixed; */
    right: 0;
    font-size: 22px;
    top: 18px;
}
nav a{
    margin-right: 25px;
    text-decoration: none;
    /* color: var(--primary); */
    font-weight: 800;
}
nav a:hover{
  color: var(--Green);
  text-decoration: underline;
}
.logo {
  width: 40px;
  height: 40px;
  margin: auto 5px;
  margin-top: 5px;
  font-weight: bolder;
}
.root-link:hover {
  fill: rgb(196, 48, 43);
  transition: .5s;

}
