/* .landing-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.hero {
  background: url('../../img/sfr.jpg');
  background-size: cover;
  background-position: center;
  padding: 4rem 2rem;
  display: grid;
  height: 30vh;
}

.red {
  color: rgb(13, 22, 43);
  font-weight: 900;
  font-size: 28px;
}

.hero > * {
  color: white;
}

.verdi, .peter, .elan, .david, .kp, .click-through, .AB-testing, .about {
  max-width: 850px;
  margin: 1.5rem;
  padding: 2rem;
  border: 1px solid #E2E2E2;
  border-radius: .5rem;
}

.picSwap .goat{
  display: none; 
}

.picSwap:hover .goat{
  display: inline;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  max-width: 850px;
}

.verdi > figure, .peter > figure, .elan > figure, .kp > figure, .david > figure, .click-through > figure, .AB-testing > figure, .about > figure {
  margin: auto;
  max-height: 600px;
  width: 600px;
  overflow: hidden;
  position: relative;
}

.peter > figure > img, .verdi > figure > img, .elan > figure > img, .kp > figure > img, .david >figure > img, .click-through > figure > img, .AB-testing > figure > img, .about > figure > img {
  max-width: 100%;
  max-height: 100%;
}

footer {
  background-color: rgba(0, 0, 0, 0.66);
  width: 100%;
  height: 60px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer > span {
  padding: .75em;
}

.btn-container {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
} */