.mobile-view-page {
  max-width: 500px;
  background-color: #2e2e2e;
  color: white;
  padding: .75em;
}

.mobile-view-page > .youtube-search-result {
  max-height: 100px;
}

.mobile-view-page > .youtube-search-result > .left-col > img {
  width: 140px;
  height: 85px;
  margin-right: 0;
}

.mobile-view-page .truncate {
  visibility: hidden;
}

.mobile-view-page > .youtube-search-result {
  padding: 0;
}

.mobile-view-page > .youtube-search-result .left-col span {
  right: 5px;
  bottom: 18px;
  font-weight: 100;
}

.mobile-view-page .right-col > h2 {
  font-weight: 100;
  font-size: 16px;
  line-height: normal;
  max-height: 40px;
  max-width: 150px;
}

.mobile-view-page .right-col {
  max-width: 180px;
  letter-spacing: 0;
}

.mobile-view-page .right-col > .sub-headings {
  color: #8f8f8f;
}

.mobile-view-page .mobile-clear {
  margin-top: .1em;
  display: block;
}

.mobile-view-page .desktop-only {
  visibility: hidden;
}

.mobile-view-page .ellipsis-menu {
  visibility: visible;
  color: #8f8f8f;
  font-size: 12px;
  margin-top: .3em;
}

.icon-container {
  display: flex;
  justify-content: space-around;
}

.icon:nth-child(3) > .fa-icon, .icon:nth-child(3) > label {
  color: white;
}