.page{
    animation-name: test;
    animation-duration: .5s;
}
::-webkit-scrollbar { 
    display: none; 
}
@keyframes test {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

footer {
    background-color: rgba(36, 46, 77, 0.76);
    width: 100%;
    height: 3.5rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    position: absolute;
  }
  
  footer > span {
    padding: .75em;
  }

.footer a{
    color:rgb(203, 201, 201);
}



footer {
  background-color: rgba(0, 0, 0, 0.66);
  width: 100%;
  height: 60px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer > span {
  padding: .75em;
}



@media screen and (max-width: 730px) {
    footer {
        font-size: 12px;
    }
}

.App {
    padding-bottom: 3.5rem;
  }
