* body {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(0, 0%, 98%);
}

#root {
  position: relative;
  min-height: 100vh;
}

main {
  background-color: hsl(0, 0%, 98%);
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.error {
  color: red;
}

button {
  padding: 10px 12px;
  cursor: pointer;
  border: none;
  color: white;
  font-size: 16px;
  background-color: #C4302B;
  border-radius: 3px;
  font-family: Raleway;
  transition-duration: .4s;
}

button:hover {
  background: #333;
}

button:disabled {
  cursor: not-allowed;
  background-color: grey
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

span.close-modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

span.close-modal-btn i{
  font-size: 10px;
}
