.my-videos-container {
  position: relative;
  margin: auto; 
  padding: 0 1em;
  max-width: 1000px;
  display: grid;
  grid-gap: .5em;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));

}

.header-container{
  padding: 0 1em;
  margin:auto;
  margin-top:20px ;
  max-width: 1000px;
  display: grid;
  grid-gap: .5em;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  border-bottom:1px solid gray;
  margin-bottom: 1em;
}

#page-title {
  width: 90%;
  max-width: 290px;
  margin: auto;
  
}

.videos-page > .btn-container {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.previous, .next {
  width: 85px;
}

.add-video-header {
  text-align: center;
}

.no-videos-text{
  width: 300px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top:40%
}